
.alert-box {
    background: #b0b0eb;
    color:blue;
    padding: 20px;
    border-radius: 5px;
    display:none;
}

.yellow-bg{
    background: yellow;
}
.main-background {
    background-image: url(./woods.jpg);
    background-size: cover;
    color: white;
    border-radius: 0px;
}

.black-background {
    background: rgba(0,0,0,0.5);
    position:fixed;
    z-index:5;
    width:100%;
    height:100%;
    display:none;
}

.white-background {
    background: white;
    width:80%;
    margin: 100px auto;
    padding:20px;
    border-radius: 10px;
    
}

.jumbotron {
    
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.nav-sub {
    display:none;
}

.list-group {
    display: none;
}

.show {
    display: block;
}

.black-bg {
  width : 100%;
  height : 100%;
  position : fixed;
  background : rgba(0,0,0,0.5);
  z-index : 5;
  padding: 30px;
 display:none;
 opacity: 0;
  transition: all 1s;
    
}
    


.white-bg {
    
  background: white;
  border-radius: 5px;
  padding: 30px;

}

.log {
    
}

.show2 {
    display:block;
}

.show-modal {
/*    visibility: visible;*/
    opacity: 1;
    display:block;
}

.main-bg {
    padding: 100px 20px;
    background: lightgrey;
}

.game-bg {
    padding: 100px 20px;
    background:lightblue;
}

.slide-container {
    width: 300vw;
    transition: all 1s;
    
}

.slide-box img{
    width: 100%;
}

.slide-box {
    width: 100vw;
    float:left;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 5;
}

.navbar-brand {
    font-size: 30px;
    transition: all 1s;
}
