@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: 'Muli', sans-serif;
  justify-content: center ;
}

.panel {
  border-radius: 50px;
  margin: 10px;
  height:80vh;
  flex: 1;
  width:20%;
}

.active {
  flex: 5;
  transition:1s;
}

h3{
  color: white;
  margin-top: 630px;
  
}



@media screen and (max-width:576px) 
{
 .container{
  display:block;
  flex-direction:row;
  height: 100%;
  /* width:100vw; */
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  position: relative;
 }
 .small_container{
  display:flex;
  flex-direction:row;
  height: 100%;
  /* width:100vw; */
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
  position: relative;
 }
 #panel4,#panel5{
  float:left;
 }
 
 
}

@media screen and (min-width:577px)
{
  .container{
    display:flex;
    flex-direction:row;
    height: 100%;
    /* width:100vw; */
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    /* position: relative; */
  }
  .small_container{
    display:flex;
    flex-direction:row;
    height: 100%;
    /* width:100vw; */
    justify-content: center;
    align-items: center;
    /* overflow: hidden; */
    position: relative;
   }
   #panel4,#panel5{
    float:auto;
   }
}

